In [1]:
a=10
type(a)

int

In [3]:
#program to swap variables
a=10
b=2
temp=''
temp=a
a=b
b=temp
print(a,b)

2 10

In [10]:
#program to check if a number is positive , negative , or zero
a=-2
if a>0: 
    print("false")
elif a<0:
    print("true")
else:
    print("false")

true

In [11]:
#program to check if a number is even or odd
a=25
if a%2==0:
    print("given number is a even number")
else:
    print("given number is a odd number")

given number is a odd number

In [16]:
#program to print odd number with a given range
a=0
b=100
for i in range(a,b):
        if i%2!=0:
            print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [22]:
#program to find factorial of a given number
a=5
factorial=1
for i in range(1,a+1):
    factorial=factorial*i
print(factorial)

120

In [25]:
# program to reverse a given number
a=9086
temp=a
rev=''
sum=0
while(temp!=0):
    rev=temp%10
    sum=sum*10+rev
    temp=temp//10
print(sum)

6809

In [26]:
#program to find sum of natural numbers
a=1
b=100
sum=0
for i in range(a,b+1):
    sum=sum+i
print(sum)

5050

In [37]:
#program to reverse a string without recurssion
a="man is humble"
a[::-1]

'elbmuh si nam'

In [45]:
#program to check if string is palindrome or not
str1="hehe"
if str1[::]==str1[::-1]:
    print("string is a palindrome")
else:
    print("not a palindrome")

not a palindrome

In [46]:
#write a python program to replace ALL OCCURENCES OF A'WITH "$" IN  given string
str1="human has a philips trimmer to use"
str1.replace("a","$")

'hum$n h$s $ philips trimmer to use'

In [60]:
#count the number of digits and a letter in a string
str2="most evolve things in a life is to born on 11-07-1991"
digit=0
letter=0
for e in str2:
    if e.isdigit():
        digit+=1
    elif e.isalpha():
        letter+=1
print(digit)
print(letter)

8
33

In [86]:
#python program to count number of vowels in a string
str3="my name is ankit i m going to vandase"
vowel=0
for i in str3:
    if i=='a'or i=='e'or i=='i'or i=='o'or i=='u':
        vowel+=1
print(vowel)

12

In [87]:
#program to count number of lowercase letters in  STRING
str4="MY NAME Is a paryushaN"
lowercase=0
for i in str4:
    if i.islower():
        lowercase+=1
print(lowercase)

10

In [89]:
#program to check if a substring is present in a given string
str5='if a number is 50'
str6="number"
if str6 in str5:
    print("substring is present")
else:
    print("no substring is present")

substring is present

In [90]:
#program to find largest number in a list
a=[1,3,54,23,78,65]
maximum=max(a)
for i in range(0,len(a)-1):
    if i>max(a):
        i==max(a)
print(maximum)

78

In [93]:
#progrsm to put even and odd elements in alist into two different list
list1=[1,2,3,4,5,6,7,8,9,0]
even_list=[]
odd_list=[]
for i in list1:
    if i%2==0:
        even_list.append(i)
    else: 
        odd_list.append(i)
print(even_list)
print(odd_list)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]

In [98]:
#program to read a list of words amd return the length of the longest one
a=["one","two","three"]
maximum1=len(a[0])
for i in a:
    if len(i)>maximum1:
        maximum1=i
print(maximum1)

three

In [13]:
#Create a List of Tuples with the First Element as the Number and Second Element as the Square
list_1=[1,3,5,8,23]
ls1=[]
for i in list_1:
    list_1=(i,i**2)
    ls1.append(list_1)
print(ls1)

[(1, 1), (3, 9), (5, 25), (8, 64), (23, 529)]

In [15]:
# write a program which takes number from 0 to 4 from the user and prints it in the word .And if the word is not from 0 to 9 it shold print that number is outside the range and program shoul exit
a=int(input("enter the number: "))
if a==1:
    print("one")
elif a==2:
    print("two")
elif a==3:  
     print("three")
elif a==4:    
     print("four")
else: 
     print("word is outside the range")

enter the number: 4
four

In [72]:
#write a program to implement a calculator but the operation to be done and two numbers will be talen as a input and program shoud print those below output

#to add enter 1
#to subtract enter 2
#to multiply enter 3
#to divide enter 4
#to divide and find quotient enter 5
#to divide and find remaider enter 6
#to divide and find num1 to the power of num2 enter 7
#to come out of the program enter 8
print("to add enter 1")
print("to subtract enter 2")
print("to multiply enter 3")
print("to divide enter 4")
print("to divide and find quotient enter 5")
print("to divide and find remainder enter 6")
print("to divide and find num1 to the power of num2 enter 7")
print("to come out of the program enter 8")
while True:
    input_1=int(input("enter : "))
    if input_1 in range(1,9):
        if input_1==1:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))  
            print(num1+num2) 
        elif input_1==2:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))  
            print(num1-num2) 
        elif input_1==3:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))   
            print(num1*num2)    
        elif input_1==4:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))   
            print(num1/num2)  
        elif input_1==5:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))  
            print(num1//num2)   
        elif input_1==6:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))   
            print(float(num1%num2))  
        elif input_1==7:
            num1=float(input("enter the first number : "))
            num2=float(input("enter the second number : "))   
            print(num1/num2,num1**num2)      
        elif input_1==8:
            print("come out of the program")
            break
        else:
            print("invalid key")
    break
    print("want to perform operation again(yes/no):")
    input_2=input("choose: ")
    if input_2=="yes":
            continue
    else:
         print("exit the program")
    break   
else:
    print("invalid key")

to add enter 1
to subtract enter 2
to multiply enter 3
to divide enter 4
to divide and find quotient enter 5
to divide and find remainder enter 6
to divide and find num1 to the power of num2 enter 7
to come out of the program enter 8
enter : 10

In [449]:
#write a program to check whether a number you entered is a leap yeaar or not
a=int(input("enter a year:"))
if a%400==0 and a%100==0:
    print(f"{a} is a leap year")
else:
    a%4==0 and a%100!=0
    print(f"{a} is not a leap year")

enter a year:9800
9800 is not a leap year

In [86]:
#write a program which takes two number fromm the users and prints below output
#num1 is greater than num2 if num1 is grester than num2
#num1 is smaller than num2 if num1 is smaller than num2
#num1 is equal to num2 if num1 AND NUM2 ARE EQUAL
num1=int(input("enter the number1 :"))
num2=int(input("enter the number2 :"))
if num1>num2:
    print(num1,"is greater than",num2)
elif num1==num2:
    print(num1,"and",num2,"are equal")
else:
    print(num1,"is smaller than",num2)

enter the number1 :45
enter the number2 :45
45 and 45 are equal

In [114]:
#write a program which takes three numbers from the users and prints below output
#num1 is greater than num2 and num3 if num1 is grester than num2 and num3
#num2 is greater than num1 and num3 if num2 is greater than num1 and num3
#num3 is greater than num1 and num2 if num3 is greater than num1 and num2
num1=int(input("enter the number1:"))
num2=int(input("enter the number2:"))
num3=int(input("enter the number3:"))
result=num1 if(num1>num2 and num1> num3) else (num2 if num2>num3 else num3)
print("the greatest number",result)

enter the number1:45
enter the number2:67
enter the number3:2
the greatest number 67

In [37]:
#Find the fibbonaci series of the given input
n=int(input('enter the number:'))
a=0
b=1
print(a)
print(b)
for i in range(1,n):
    c=a+b
    a,b=b,c
    print(c)

enter the number:10
0
1
1
2
3
5
8
13
21
34
55

In [58]:
#write a program to check whether A number is a armstrong numner or not.
n=int(input("enter the number:"))
temp=n
sum=0
rev=''
while(temp>0):
    rev=temp%10
    sum+=pow(rev,len(str(n)))
    print(sum)
    temp=temp//10 
if (sum==n):
    print ("no. is armstrong",sum)  
else:
    print("number is not armstrong")

enter the three digit number:8208
4096
4096
4112
8208
no. is armstrong 8208

In [83]:
#return true if sum of two variable is 50 or one of the variable is equal to 50
# a=50
# b=40
def check(a,b):
    return (a+b==50 or a==50 or b==50)
print(check(50,40))

True

In [88]:
#write a program to print the reverse of the number
a=int(input("enter the number:"))
temp=a
rev=''
sum=0
while(temp>0):
    rev=temp%10
    sum=sum*10+rev
    temp=temp//10
    print(sum)

enter the number:24567
7
76
765
7654
76542

In [89]:
#write a python program to find the length of the stringusing loop
str_1='peter piper picked a peck of pickled peppers'
len(str_1)

44

In [454]:
#write a python program to find the total p's apppeared in the string
str_1='peter piper picked a peck of pickled peppers'
count=0
for i in str_1:
    if i=="p":
        count+=1
    else:
        pass
print(count)

9

In [457]:
#write a python program to print all the indexes of all the occurences of letter "p"
str_1='peter piper picked a peck of pickled peppers'
for i in range(0,len(str_1)-1):
    if str_1[i]=='p':
        print(i)

0
6
8
12
21
29
37
39
40

In [122]:
#w a p to create another string by adding "Py" in front of a given string if the iven string begins with the"Py' return the original string
str_1='peter piper picked a peck of pickled peppers'
str_2="Py"
str_3=''
if str_1[0:2]=="Py":
    print(str_1)
else:
    str_3=str_2+str_1
    print(str_3)

Pypeter piper picked a peck of pickled peppers

In [231]:
#WAP to print reverse 0f the given string that is reverse of the words not reverse inside the wordes
str_1='peter piper picked a peck of pickled peppers'
list_1=str_1.split()
print(list_1)
a=0
b=len(list_1)-1
while(a<b):
    list_1[a],list_1[b]=list_1[b],list_1[a]
    a=a+1
    b=b-1
print(list_1)

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']
['peppers', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [247]:
#write a python program to print below output reverse a string
str_1="computer"
str_2=""
a=len(str_1)
for i in range(0,a):
    str_2=str_2+str_1[a-1-i]
print(str_2)

retupmoc

In [248]:
#WAP to print a string in reverse order
str_1="computer was a successful invention"
str_2=""
a=len(str_1)
for i in range(0,a):
    str_2=str_2+str_1[a-1-i]
print(str_2)

noitnevni lufsseccus a saw retupmoc

In [252]:
##WAP to print each word in a string in reverse order
str_1="computer was a successful invention"
str_2=""
a=len(str_1)
for i in range(0,a):
    str_2=str_2+str_1[a-1-i]
print(str_2) 
list=str_2.split()
a=0
b=len(list)-1
while(a<b):
    list[a],list[b]=list[b],list[a]
    a=a+1
    b=b-1
print(list)
str5=" ".join(list)
print(str5)

noitnevni lufsseccus a saw retupmoc
['retupmoc', 'saw', 'a', 'lufsseccus', 'noitnevni']
retupmoc saw a lufsseccus noitnevni

In [270]:
#WAP to replace substring of a string with another substring"pack"
str_1='peter piper picked a peck of pickled peppers'
list1=str_1.split()
for i in range(0,len(list1)):
    print(i)
    if list1[i]=="peck":
        list1[i]="pack"
    else:
        pass
print(list1)
str6=" ".join(list1)
print(str6)

0
1
2
3
4
5
6
7
['peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickled', 'peppers']
peter piper picked a pack of pickled peppers

In [280]:
#WAP to separate the string from word "is"
str='This is python class'
list1=str.partition(' is')
print(list1)

('This', ' is', ' python class')

In [333]:
#wap to seperate the string by second "is" present in a string
str5='This is python class'
list=str5.split(' is ')
print(list)
for i in range(0,len(list)-1):
    if list[i]==" ":
        list[i]="is"
print(list)       
str9="$is$".join(list)
print(str9)
str11=str9.split("$")
print(str11)

['This', 'python class']
['This', 'python class']
This$is$python class
['This', 'is', 'python class']

In [448]:
#WAP to replace all characters from "*" except "peck".
str_1='peter piper picked a peck of pickled peppers'
list1=str_1.split()
substr1='peck'
print(list1)
list2=[]
for i in range(0,len(list1)):
    if list1[i]!=substr1:
        length=len(list1[i])
        star="*"*length
        list2.append(star)
    else:
        list2.append(substr1)
print(list2)   
str6="*".join(list2)
print(str6)

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']
['*****', '*****', '******', '*', 'peck', '**', '*******', '*******']
*********************peck*******************

In [651]:
#write a progam to extract otp from the string and email addresses from the string
msg='the otp for this transaction is sent at abc@gmail.com and def@yahoo.com is 9087'
list=msg.split(" ")
print(list)
for i in list:
    for j in i:
        if j=="@":
            print(i,end="")
    if j>="0" and j<="9":
        print(i)

['the', 'otp', 'for', 'this', 'transaction', 'is', 'sent', 'at', 'abc@gmail.com', 'and', 'def@yahoo.com', 'is', '9087']
abc@gmail.comdef@yahoo.com9087

In [689]:
#create a list of words containing apples and create a list without word containing apples fro aparent list
fruits1=["apple","grapes","guava","banana","custard apple","green apple","orange"]
fruit2=[]
fruit3=[]
for i in fruits1:
    for j in i:
        if j==" ":
             fruit2.append(i)  
    if i=="apple": 
              fruit2.append(i)
print(fruit2)

['apple', 'custard apple', 'green apple']

In [805]:
#WAP TO Print string letters in ascendimg order and check whether a given string is anagram or not
a=input("enter the word1:")
b=input("enter the word2:")
list=[]
list2=[]
str1="abcdefghijklmnopqrstuvwxyz"
print(str1)
for i in str1:
    if i in a:
            list.append(i)
print(list)           
for i in str1:
    if i in a:
            list2.append(i)
print(list2)           
if list==list2:
    print("yes given string is a anagram")
else:
    print("given string is not an anagram")

enter the word1:akkab
enter the word2:ajabj
abcdefghijklmnopqrstuvwxyz
['a', 'b', 'k']
['a', 'b', 'k']
yes given string is a anagram

In [820]:

#WAP TO Print string letters in ascendimg order and check whether a given string is anagram or not
a=input("enter the word1:")
b=input("enter the word2:")
list=[]
list2=[]
str1="abcdefghijklmnopqrstuvwxyz"
print(str1)
for i in str1:
    for j in a:
        if i==j:
            list.append(i)
    for j in b:        
        if i==j:
            list2.append(i)
print(list)
print(list2)
if list==list2:
    print("yes given string is a anagram")
else:
    print("given string is not an anagram")

enter the word1:ayush
enter the word2:mgji
abcdefghijklmnopqrstuvwxyz
['a', 'h', 's', 'u', 'y']
['g', 'i', 'j', 'm']
given string is not an anagram

In [768]:
fruits1=["apple","grapes","guava","banana","custard apple","green apple","orange"]
str1=",".join(fruits1)
print(str1)
str1=str1.replace(",","")
print(str1)

apple,grapes,guava,banana,custard apple,green apple,orange
applegrapesguavabananacustard applegreen appleorange

In [821]:
a="eat"
b="tea"
if a==b:
    print("yes")
else:print("no")

no

In [920]:
#Write a Python program to sort a list using loop.
a=[10,100,2321, 1,200,2]
temp=a
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            temp=a[i]
            a[i]=a[j]
            a[j]=temp
print(a)
b=a[-2] #second largest number
print(b)

[1, 2, 10, 100, 200, 2321]
200

In [928]:
#WAP to find the largest and second largest number in a list
a=[9010,100,23021,2,24000,20]
temp1
temp2
for i in range(0,len(a)):
    if a[i]>temp1: 
        temp1=a[i]
    if a[i]>temp2 and a[i]!=temp1:   
        temp2=a[i]
print(temp1,temp2)

24000 23021

In [950]:
#WAP to find the smallest number in a list
a=[89,-45,23021,200,24000,189]
temp=100000000
for i in range(0,len(a)):
    if a[i]<temp: 
        temp=a[i]
print(temp)

-45

In [970]:
#a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
a=['ab', 'abc', 'aba', 'xyz', '1991']
for i in range(0,len(a)):
    if len(a[i])>2:
        print(a[i])
    if a[i][::]==a[i][::-1]:
        print(a[i],"string is a plindrome")
    else:
        print(a[i],"string is not a palindrome")

ab string is not a palindrome
abc
abc string is not a palindrome
aba
aba string is a plindrome
xyz
xyz string is not a palindrome
1991
1991 string is a plindrome

In [1122]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
a=[(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
b=len(a)
for i in range(0,b):
    for j in range(0,b-i-1):
        if a[j][1]>a[j+1][1]:
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print(a)

[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [1193]:
#write a python program to eliminate duplicate elements from the list
a=[10,1,11,1,29,876,768,10,11,1,92,29,876]
b=len(a)
c=[]
count=0
for i in range(0,b):
    for j in range(0,b-i-1):
        if a[j]>a[j+1]:
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp
print(a)            
for i in range(0,b):
    if a[i]!=a[i-1]:
        c.append(a[i])
        count+=1
print(c)        
print(count)

[1, 1, 1, 10, 10, 11, 11, 29, 29, 92, 768, 876, 876]
[1, 10, 11, 29, 92, 768, 876]
7

In [1212]:
Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty
a=[10,20,30]
if a==[]:
    print("list is empty")
else:
    print("list is non empty")

Object `not` not found.
list is non empty

In [1213]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
a=[10,10.20,10+20j, 'Python', [10,20], (10,20)]
b=a
print(b)

[10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [1215]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [21,87,45,33,1]
a=[10,21,22,98,87,45,33,1,2,100]
b=[]
for i in a:
    if i%2!=0:
        b.append(i)
print(b)

[21, 87, 45, 33, 1]

In [1247]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
#inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
#Output:- True
a=[10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
b=[(10,20,30),1,20+3j,10.2, 10+20j, [10,20,30],'Python']
count=0
e=len(b)
c=[]
d=len(a)
for i in range(0,d):
    for j in range(0,e):
        if a[i]==a[j]:
            count+=1
            break
    if count>2:    
        c.append(a[i])
print(c)

['Python', 10.2, (10+20j), [10, 20, 30], (10, 20, 30)]

In [1330]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.
a='How much wood would a woodchuck chuck if a woodchuck could chuck wood'
b=a.split()
c=len(b)
d=[]
j=len(d)
t=[]
count=1
for i in range(0,c):
    if len(b[i])>=4:
        d.append(b[i])
print(d)
for i in range(0,j):
    count=1
    for n in range(0,j):
            if d[i]!=d[n] and count>0 and count<2:
                t.append(d[i])
                break 
print(t)

['much', 'wood', 'would', 'woodchuck', 'chuck', 'woodchuck', 'could', 'chuck', 'wood']
[]

In [1354]:
a='How much wood would a woodchuck chuck if a woodchuck could chuck wood'
b=a.split()
t=[]
for i in b:
    if len(i)>=4 and i not in t:
        t.append(i)      
print(t)

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [12]:
#if count of total p exceeds total digits in tne string then read the first 20 characters else deleye the first 20 charactera
a="we are learning python programming  on learnbay platform since 07.04.2023"
digit=0
for i in a:
    if i.isdigit():
        digit +=1
        
if a.count('p')>digit:
    print (a[:20])
else:
    print(a[21:])

n programming  on learnbay platform since 07.04.2023

In [61]:
#return the date month and year from the string
a="we are learning python programming  on learnbay platform since 07.04.2023"
b=a.split()
str1=b[-1]
print(str1)
e=str1.split(".")
print(e)

07.04.2023
['07', '04', '2023']

In [65]:
#joij the above list on the basis of pattern%%%
list_1=["hi","tiger","","lion....","52"]
list_2= ["hi","....."] 
list_3=list_1+["%%%"]+list_2       
print(list_3)

['hi', 'tiger', '', 'lion....', '52', '%%%', 'hi', '.....']

In [71]:
#wap to replacefirst sir from the string
msg="hi sir. hope all good.can u help me sir?"
msg[:6].replace("sir","master")+msg[6:len(msg)]

s

'hi master. hope all good.can u help me sir?'

In [72]:
#find out all the palindromes in the list
a=["hello","12321","noon","1258","naman","True","-6.3","6+5j","hi ih"]
for i in a:
    if i[::]==i[::-1]:
        print(i)

12321
noon
naman
hi ih

In [284]:
#convert the string to upper case if any vowel is peresent else convert the string into title
str1="KK 25 Bal dd"
vowel=("a","e","i","o","u")
flag=1
for i in vowel:
    if i in str1.lower():
        flag=1
        break
    else:
        flag=0
if flag:
    print(str1.upper())
else:
    print(str1.title())

KK 25 BAL DD

In [305]:
#Write python program to show values at even position in a list
list_1=[1,8,9.007,"hello","lion.....","6+2j","7"]
l1=[]
for i in range(0,len(list_1)):
    if i%2==0:
        l1.append(list_1[i])
print(l1)

[1, 9.007, 'lion.....', '7']

In [388]:
a=["ab","cd","ef","gh"]
d=''
for i in a:
    b=i[0].upper()
    f=b+i[1::]
    d+= f+" "
print(d)
e=d.split()
print(e)

Ab Cd Ef Gh
['Ab', 'Cd', 'Ef', 'Gh']

In [22]:
a="naman jain ankit jain"
b=a.split()
f=""
for i in a:
    f+="*"+"*"
    print(f)

**
****
******
********
**********
************
**************
****************
******************
********************
**********************
************************
**************************
****************************
******************************
********************************
**********************************
************************************
**************************************
****************************************
******************************************

In [28]:
a="naman jain ankit jain"
b=a.split()
f=""
for i in b:
    f+=i[0].upper()+i[1:]+" "
print(f)

Naman Jain Ankit Jain

In [ ]:
#wap with function to find a given number is a perfect number or not
def pint1(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum+=i
    return sum
pint1(496)

In [27]:
# In Python, it is possible to pass a function as a argument to another function. 
# Write a function useFunction(func, num) that takes in a function and a number as arguments. 
# The useFunction should produce the output shown in the examples given below.

# def addOne(x):
#   return x + 1
# useFunction(addOne, 4)
# 25
# useFunction(addOne, 9)
# 100
# useFunction(addOne, 0)
# 1

def addone(x):
    return x+1
def usefunc(addone,y):
    return addone(y)**2
print(usefunc(addone,4))

25

In [1]:
#write a python function that prints out the first n rows of pascals triangle
n=int(input("enter the row number:"))
ls=[]
for i in range(n):          #. [1],[1,1][1,2,1][1,3,3,1]
    temp=[]
    for j in range(i+1):
        if j==0 or j==i:
            print(temp.append(1))
        else:
            print(temp.append([ls[i+1][j-1]]+[ls[i-1][j]]))
print(ls.append(temp))

enter the row number:5
None
None
None
None

IndexError: list index out of range

In [1]:
ls=[0,1]
def fibbonaci_ser(n):
    if n<=2:
        print(ls[:n])
    else:
        c=ls[-1]+ls[-2]
        series=fibbonaci_ser.append(c)
        series   
print(fibbonaci_ser(5))

AttributeError: 'function' object has no attribute 'append'

In [3]:
def fibbonaci_ser(n):
    fibbonaciseries=[]
    a,b=0,1
    while(len(fibbonaciseries)<n):
        fibbonaciseries.append(a)
        a,b=b,a+b
    return fibbonaciseries
fibbonaci_ser(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
statistics and machine learning...ashish sir
python:mayank sir
sql powerbi tableau mongodb:recording

In [31]:

a=[1,3,5,7,6,8]
b=[1,1,8,9,1,0]
d=[]
for i in a:
    for j in b:
        if i==j and i not in d:
            d.append(i)
print(d)

[1, 8]

In [ ]:
#ASSIGNMENT ON FUNCTIONS:
1. Write a Python program to triple all numbers in a given list of integers. Use Python map.


2. Write a Python program to add three given lists using Python map and lambda.


3. Write a Python program to listify the list of given strings individually using Python map.


4. Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.


5. Write a Python program to square the elements of a list using the map() function.



6. Write a Python program to convert all the characters into upper case and the lower case and remove duplicates all the characters

7. Write a Python program to add two given lists and find the difference between them. Use the map() function.


8. Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.


9. Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.


10. Write a Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.


11. Write a Python program to compute the sum of elements of an array of integers. Use the map() function.


12. Write a Python program to find the ratio of positive numbers, negative numbers and zeroes in an array of integers.


13. Write a Python program to count the same pair in two given lists. use map() function.


14. Write a Python program to interleave two lists into another list randomly. Use the map() function.


15. Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.


16. Write a Python program to convert a given list of strings into a list of lists using the map function.



17. Write a Python program to convert a given list of tuples to a list of strings using the map function.

In [2]:
#1. Write a Python program to triple all numbers in a given list of integers. Use Python map.
ls=[1,2,3,4,5,5,8,8,9,0]
result_=list(map(lambda x:x*3,ls))
print(result_)

[3, 6, 9, 12, 15, 15, 24, 24, 27, 0]

In [4]:
#2.Write a Python program to add three given lists using Python map and lambda.
a=[1,2,3]
b=[4,7,9]
c=[8,2,0]
result_=list(map(lambda x,y,z:x+y+z,a,b,c))
print(result_)

[13, 11, 12]

In [16]:
#3. Write a Python program to listify the list of given strings individually using Python map.
a=["my","name","is","ankit"]
result_=list(map(lambda x:list(x),a))
print(result_)

[['m', 'y'], ['n', 'a', 'm', 'e'], ['i', 's'], ['a', 'n', 'k', 'i', 't']]

In [17]:
#5. Write a Python program to square the elements of a list using the map() function.
a=[1,2,3]
result_=list(map(lambda x:x**2,a))
print(result_)

[1, 4, 9]

In [28]:
#6. Write a Python program to convert all the characters into upper case and the lower case and remove duplicates all the characters
a=["a","A","b","c","V","B","I","j","k","I","a","b"]
def str_lower_upper(k):
     return str(k).lower(),str(k).upper()
result_=map(str_lower_upper,a)
print(set(result_))

{('b', 'B'), ('v', 'V'), ('k', 'K'), ('i', 'I'), ('a', 'A'), ('j', 'J'), ('c', 'C')}

In [29]:
#7. Write a Python program to add two given lists and find the difference between them. Use the map() function.
a=[1,2,3,4,5]
b=[2,7,8,9,0]
result_=list(map(lambda x,y:x+y,a,b))
result1_=list(map(lambda x,y:x-y,a,b))
print(result_)
print(result1_)

[3, 9, 11, 13, 5]
[-1, -5, -5, -5, 5]

In [30]:
#8. Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.
a=[1,2,3,4,5,6]
b=(1,2,3,4,5,6,7,8,90,0)
result1=list(map(str,a))
result2=tuple(map(str,b))
print(result1)
print(result2)

['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6', '7', '8', '90', '0')

In [33]:
#10. Write a Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.
def fbs(n):
    a=0
    b=1
    fbs2=[]
    while(len(fbs2)<n):
        fbs2.append(a)
        a,b=b,a+b
    return fbs2
result1=map(lambda x:x*x,fbs2)
print(result1)

NameError: name 'fbs2' is not defined